<div class="container">
    <div class="Container1">
        <label>Calories Burned</label>
        <input type="number" class="form-control" [(ngModel)]="exerciseData.CaloriesBurned" required>
        <label>Calories Burned Goal</label>
        <input type="number" class="form-control" [(ngModel)]="exerciseData.CaloriesBurnedGoal">
        <button type="button" class="btn btn-primary mt-2" (click)="SaveExerciseData()">Save Exercise Data</button>
        <app-output-data></app-output-data>
    </div>
  
</div>