<div class="row">
    <div class="col">Exercise Type</div>
    <div class="col">Date</div>
    <div class="col">Start Time</div>
    <div class="col">End Time</div>
    <div class="col">Calories Burned</div>
    <div class="col">Calories Burned Goal</div>
</div>

<div *ngFor="let eType of exerciseType">
    <div class="row">

        <div class="col">
            <h6>{{eType.ExerciseName}}</h6>
        </div>

        <div class="col" *ngFor="let wRecord of workoutRecord">
            <h6> {{wRecord.Date | date : "MM/dd/yyyy"}} </h6>

        </div>

        <div class="col" *ngFor="let wRecord of workoutRecord">
            <h6> {{wRecord.StartTime | date : "shortTime"}} </h6>
        </div>

        <div class="col" *ngFor="let wRecord of workoutRecord">
            <h6> {{wRecord.EndTime | date : "shortTime"}} </h6>
        </div>

        <div class="col" *ngFor="let eData of exerciseDataList">
            <h6> {{eData.CaloriesBurned}} </h6>
        </div>

        <div class="col" *ngFor="let eData of exerciseDataList">
            <h6> {{eData.CaloriesBurnedGoal}} </h6>
        </div>

    </div>
    <button type="button" class="btn btn-warning">Edit Workout</button>
    <button type="button" class="btn btn-danger">Delete Workout</button>
</div>


