<!-- <div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow" *ngFor="let record of workoutRecord">
            <div class="divTableCell">
                <label>Exercise Type</label>
                <h6>{{exerciseType[record.].ExerciseName}}</h6>
            </div>
            <div class="divTableCell">
                <label>Date</label>
                <h6>{{record.Date | date : "MM/dd/yyyy"}}</h6>
            </div>
            <div class="divTableCell">
                <label>Start Time</label>
                <h6>{{record.StartTime | date : "shortTime"}}</h6>
            </div>
            <div class="divTableCell">
                <label>End Time</label>
                <h6>{{record.EndTime | date : "shortTime"}}</h6>
            </div>
            <div class="divTableCell">
                <label>Calories Burned</label>
                <h6>{{exerciseDataList[record.DataId].CaloriesBurned}}</h6>
            </div>
            <div class="divTableCell">
                <label>Calories Goal</label>
                <h6>{{exerciseDataList[record.DataId].CaloriesBurnedGoal}}</h6>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-warning">Edit Workout</button>
    <button type="button" class="btn btn-danger">Delete Workout</button>
</div> -->



<!-- <section class="layout">
    <div class="exerciseType col-4">
        <div *ngFor="let type of exerciseType">
            <label>Exercise Type</label>
            <h6>{{type.ExerciseName}}</h6>
        </div>
    </div>

    <div class="workoutRecord col-4">
        <div *ngFor="let record of workoutRecord">

            <div class="record01">
                <label>Date</label>
                <h6>{{record.Date | date : "MM/dd/yyyy"}} </h6>
            </div>

             <div class="record02">
                    <label>Start Time</label>
                    <h6>{{record.StartTime | date : "shortTime"}}</h6>
            </div>

            
            <div class="record03">
                 <div class="record03" *ngFor="let record of workoutRecord">
                    <label>Start Time</label>
                    <h6>{{record.StartTime | date : "shortTime"}}</h6>
                </div>
                
            </div>
        </div>
    </div>

    <div class="exerciseDataList col-4">
        <div *ngFor="let data of exerciseDataList">
            <div class="datalist01 col-2">
                <label>Calories Burned</label>
                <h6>{{data.CaloriesBurned}}</h6>
            </div>
            <div class="datalist02 col-2">
                <label>Calories Goal</label>
                <h6>{{data.CaloriesBurnedGoal}}</h6>
            </div>
        </div>
    </div>

    

</section> -->