<div class="card-body">
    <div class="row">
        <div class="col-2" *ngFor="let type of exerciseType">
            <div class="form-group">
                <label>Exercise Type</label>
                <h6>{{type.ExerciseName}}</h6>
            </div>
        </div>

        <div *ngFor="let record of workoutRecord">
            <div class="col-2">
                <div class="form-group">
                    <label>Date</label>
                    <h6>{{record.Date | date : "MM/dd/yyyy"}} </h6>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label>Start Time</label>
                    <h6>{{record.StartTime | date : "shortTime"}}</h6>
                    <!-- <input type="text" class="form-control" disabled>  -->
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label>End Time</label>
                    <h6>{{record.EndTime | date : "shortTime"}}</h6>
                    <!-- <input type="text" class="form-control" disabled> -->
                </div>
            </div>
        </div>


        <div *ngFor="let data of exerciseDataList">
            <div class="col-2">
                <div class="form-group">
                    <label>Calories Burned</label>
                    <h6>{{data.CaloriesBurned}}</h6>
                    <!-- <input type="text" class="form-control" disabled> -->
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label>Calories Goal</label>
                    <h6>{{data.CaloriesBurnedGoal}}</h6>
                    <!-- <input type="text" class="form-control" disabled> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <button type="button" class="btn btn-warning">Edit Workout</button> -->
    <button type="button" class="btn btn-danger">Delete Workout</button>
    <button type="button" class="btn btn-warning">Edit Workout</button>

</div>