<section class="layout">

    <div *ngFor="let type of exerciseType">
        <label>Exercise Type</label>
        <h6>{{type.ExerciseName}}</h6>
    </div>

    <div *ngFor="let record of workoutRecord">
        <label>Date</label>
        <h6>{{record.Date | date : "MM/dd/yyyy"}} </h6>
    </div>

    <div *ngFor="let record of workoutRecord">
        <label>Start Time</label>
        <h6>{{record.StartTime | date : "shortTime"}}</h6>
    </div>

    <div *ngFor="let record of workoutRecord">
        <label>End Time</label>
        <h6>{{record.EndTime | date : "shortTime"}}</h6>
    </div>

    <div *ngFor="let data of exerciseDataList">
        <label>Calories Burned</label>
        <h6>{{data.CaloriesBurned}}</h6>
    </div>

    <div *ngFor="let data of exerciseDataList">
        <label>Calories Goal</label>
        <h6>{{data.CaloriesBurnedGoal}}</h6>
    </div>

    <button type="button" class="btn btn-danger">Delete Workout</button>
    <button type="button" class="btn btn-warning">Edit Workout</button>

</section>
<!-- <button type="button" class="btn btn-warning">Edit Workout</button> -->